/* ------------------ GENERAL -------------------- */
.round {
    border-radius: 150px;
}

/* ------------------ CONTAINERS -------------------- */
html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}
.container {
    padding: 0%;
    position: absolute;
    height: 100%;
    width: 100% !important;
}
div#content {
    /**/
}
div#content div#sections {
    width: 100%;
}

a.tag-linker {
    color: rgb(135, 135, 255);
}
/* ----------------- UPPER CONTAINER --------------------- */
div.container div.upper{
    background-color: rgb(134, 134, 255);
    text-align: center;
    border-bottom: 4px solid black;
    display: flex;
    padding: 12px 5%;
    align-items: center;
    /* position: fixed; */
    width: 100%;
}

div.container div.upper a {
    margin: 0px;
    padding: 0px;
    padding: 10px;
    flex: 19;
}

div.container div.upper button.menu {
    background-color: rgb(109, 109, 231);
    color: black;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 3px 3px 6px #505050;
    padding: 0px 1px;
    flex: 1;
    width: 40px;
    height: 50px;
}

div.container div#content div#sections {
    position: absolute;
    display: inline-block;

}


/* --------------- BLOG : READ PAGE : FRONT END ------------ */
div.blog {
    font-family:  "Gill Sans";
}
div.blog div.post {
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
    padding: 5px;
    /* margin-top: 20px; */
}
div.blog div.post div.details {
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    padding: 1px 10px;
    
}
div.blog div.post div.details p {
    margin: 0px !important;
    /* font-size: 11px !important; */
    flex: 1;
}
div.blog div.post div.details p.timestamp {
    flex: 1;
    text-align: right;
    font-size: 11px;
}
div.blog div.post div.details p.likes {
    flex: 1;
    text-align: center;
}
div.blog div.post div.text {
    padding: 2px 6px;
}
div.blog div.post div.text p {
    margin: 0px !important;
}
div.blog h3.blog-group-date {
    margin: 5px !important;
    margin-top: 35px !important;
    text-align: center;
    align-self: center;
    text-decoration: underline;
    /* background-color: blue; */

}
div.post div.details div.label-container {
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    border-radius: 150px;
    padding-right: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
div.post div.details div.label-container h4 {
    margin: 2px !important;
    padding: 0px !important;
    border-radius: 150px;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid black;
    
}
div.post div.details div.label-container h5 {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;

}






/* --------------- SIDEBAR ------------ */
div#content div#sidebar-menu {
    width: 11%;
    border-right: 4px solid black;
    max-height: 100%;
    position: fixed;
    display: inline-block;
    z-index: 400;
    overflow: auto;
    height: 100%;
    background-color: rgb(226, 226, 226);
    box-sizing: border-box;
}

div#content div#sidebar-menu button.menu-option {
    background-color: rgb(109, 109, 231);
    box-shadow: 3px 3px 6px #505050;
    border-radius: 3px;
    color: black;
    border: 1px solid black;
    color: black;
    font-size: 125%;
    font-weight: bolder;
    font-family: sans-serif;
    width: 70%;
    margin: 10px 15%;
    padding: 8px 5px;
}

.sections-without-sidebar {
    margin-left: 0%;
    width: 100%;
    animation: slide-to-sidebar 0.4s ease-in-out;
}
@keyframes slide-to-sidebar {
    from {
        width: 75%;
        margin-left: 15%;
    }
    to {
        width: 90%;
        margin-left: 0%;
    }
}
.sections-with-sidebar {
    width: 89%;
    margin-left: 11%;
    animation: slide-from-sidebar 0.4s ease-in-out;
}
@keyframes slide-from-sidebar {
    from {
        width: 90%;
        margin-left: 0%;
    }
    to {
        width: 75%;
        margin-left: 15%;
    }
}

.sidebar-open-animation {
    animation: sidebar-open-slide 0.4s ease-in-out;
    margin-left: 0%;
}
@keyframes sidebar-open-slide {
    from {margin-left: -11%; }
    to {margin-left: 0%;}
}
.sidebar-close-animation {
    animation: sidebar-close-slide 0.4s ease-in-out;
    margin-left: -11%;
}
@keyframes sidebar-close-slide {
    from {margin-left: 0%;}
    to {margin-left: -11%;}
}










/* --------------- POSTS ------------ */
div#sections div#posts {
    text-align: center;
    width: 100%;
}

div#sections div#posts div#post-prompter {
    border: 1px solid black;
    border-radius: 0px;
    padding: 10px;
    width: 70%; 
    margin: 25px 15% 10px 15% !important;
}

div#sections div#posts div#post-prompter h3 {
    margin: 0px !important;
    font-family: "Gill Sans";
}

div#sections div#posts div#post-prompter textarea {
    border: 0px;
    border-left: 3px solid black;
    height: auto;
    width: 75%;
    padding: 5px 20px;
    background-color:rgb(226, 226, 226)
}

div#sections div#posts div#post-prompter div.input-file-container {
    /* width: 80% !important; */
    display: flex;
    justify-content: space-evenly !important;
    align-items: baseline;
}

div#sections div#posts div#post-prompter div.input-file-container #new-post-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

div#sections div#posts div#post-prompter div.input-file-container #new-post-file + label {
    font-size: 18px;
    padding: 5px;
    font-family: "Gill Sans" !important;
    background-color: white !important;
    border: 3px solid red;
    color: red;
    border-radius: 7px;
    flex: 1;
    margin: 1px 5px;
    /* visibility: hidden !important; */
}

div#sections div#posts div#post-prompter div.input-file-container button#new_post_submit {
    font-size: 18px;
    padding: 5px;
    font-family: "Gill Sans" !important;
    /* background-color: rgb(36, 36, 36) !important; */
    background-color: transparent;
    border: 3px solid green;
    color: green;
    border-radius: 7px;
    flex: 1;
    margin: 1px 5px;
}

div#sections div#posts div#post-prompter div#new-post-emoji-selection {
    /* display: flex; */
    align-items: baseline;
}

div#sections div#posts div#post-prompter div#new-post-emoji-selection input[type="radio"].moji-choice {
    opacity:0; 
    position:absolute; 
    font-size: 16px !important;
}

div#sections div#posts div#post-prompter div#new-post-emoji-selection input[type="radio"].moji-choice:checked + label {
    font-size: 24px !important;
    transition: all 0.3s ease-in-out;
}

div#sections div#posts div#post-prompter div#new-post-emoji-selection input[type="radio"].moji-choice:not(:checked) + label {
    font-size: 16px !important;
    transition: all 0.3s ease-in-out;
}

div#sections div#posts div#post-prompter div#new-post-label-selection {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
}

div#sections div#posts div#post-prompter div#new-post-label-selection input[type="radio"].label-choice {
    opacity:0; 
    position:absolute; 
    font-size: 11px;
    transition: all 0.3s ease-in-out;
}

div#sections div#posts div#post-prompter div#new-post-label-selection input[type="radio"].label-choice + label {
    font-family: "Gill Sans";
    padding: 2px 4px;

}

div#sections div#posts div#post-prompter div#new-post-label-selection input[type="radio"].label-choice:checked + label {
    font-size: 19px;
    transition: all 0.3s ease-in-out;

}

div#sections div#posts div#post-prompter div#new-post-label-selection input[type="radio"].label-choice:not(:checked) + label {
    font-size: 11px;
    transition: all 0.3s ease-in-out;
}

div#sections div#posts div#populated-posts {
    font-family:  "Gill Sans";
}
div#sections div#posts div#populated-posts div.edit-post {
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
    padding: 5px;
    /* margin-top: 20px; */
}
div#sections div#posts div#populated-posts div.edit-post div.details {
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    padding: 1px 10px;
}
div#sections div#posts div#populated-posts div.edit-post div.details p.moji {
    margin: 0px !important;
    text-align: left;
    flex: 1;
    font-size: 14px;
}
div#sections div#posts div#populated-posts div.edit-post div.details p.timestamp {
    margin: 0px !important;
    text-align: right;
    flex: 1;
    font-size: 11px;
}
div#sections div#posts div#populated-posts div.edit-post div.details div.actions {
    flex: 1;
    text-align: center;
    font-size: 12px !important;
}
div#sections div#posts div#populated-posts div.edit-post div.details div.actions button {
   width: auto;
   border: 2px solid;
   border-radius: 6px;
   background-color: transparent;
   padding: 2px 6px;
   font-size: 12px !important;
}
div#sections div#posts div#populated-posts div.edit-post div.details div.actions button.likes {
    background-color:rgb(255, 145, 145);
    border-color: red;
}
div#sections div#posts div#populated-posts div.edit-post div.details div.actions button.edit {
    background-color:rgb(255, 250, 161);
    border-color: yellow;
}
div#sections div#posts div#populated-posts div.edit-post div.details div.actions button.delete {
    background-color:rgb(211, 211, 255);
    border-color: blue;
}
div#sections div#posts div#populated-posts div.edit-post div.text {
    padding: 2px 6px;
    text-align: left;
}
div#sections div#posts div#populated-posts div.edit-post div.text p {
    margin: 0px !important;
}
div#sections div#posts div#populated-posts h3.blog-group-date {
    margin: 5px !important;
    margin-top: 35px !important;
    text-align: center;
    align-self: center;
    text-decoration: underline;
}
div#sections div#posts div#populated-posts div.details div.label-container {
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    border-radius: 150px;
    padding-right: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
div#sections div#posts div#populated-posts div.details div.label-container h4 {
    margin: 2px !important;
    padding: 0px !important;
    border-radius: 150px;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid black;
    
}
div#sections div#posts div#populated-posts div.details div.label-container h5 {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;

}


















/* --------------- LABELS ------------ */

div#sections div#labels {
    text-align: center;
    width: 100%;
}

div#sections div#labels div#label-prompter {
    border: 1px solid black;
    border-radius: 0px;
    padding: 10px;
    margin: 25px 32%;
    padding: 25px;
    /* width: 100%; */
    /* margin-left: 20%; */
}

div#sections div#labels div#label-prompter h3 {
    margin: 0px !important;
    font-family: "Gill Sans";
}

div#sections div#labels div#label-prompter input#new-label-text {
    border: 0px;
    border-left: 3px solid black;
    height: auto;
    width: 75%;
    padding: 5px 20px;
    background-color:rgb(226, 226, 226)
}

div#sections div#labels div#label-prompter div.input-submission-container {
    /* width: 80% !important; */
    display: flex;
    justify-content: space-evenly !important;
    align-items: baseline;
}


div#sections div#labels div#label-prompter div.input-submission-container #new-label-color {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

div#sections div#labels div#label-prompter div.input-submission-container #new-label-color + label {
    font-size: 18px;
    padding: 5px;
    font-family: "Gill Sans" !important;
    background-color: white;
    border: 3px solid red;
    color: red;
    border-radius: 7px;
    flex: 1;
    margin: 1px 5px;
    /* visibility: hidden !important; */
}

div#sections div#labels div#label-prompter div.input-submission-container button#submit_new_label {
    font-size: 18px;
    padding: 5px;
    font-family: "Gill Sans" !important;
    /* background-color: rgb(36, 36, 36) !important; */
    background-color: transparent;
    border: 3px solid green;
    color: green;
    border-radius: 7px;
    flex: 1;
    margin: 1px 5px;
}


div#populated-labels {
    display: grid;
    grid-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 15px;
}

div.label-container {
    border: 1px solid black;
    border-radius: 150px;
    padding: 2px;
    width: 150px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

div.label-container h4 {
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 150px;
    height: 35px;
    width: 35px;
    display: inline-block;
    border: 1px solid black;
    
}
div.label-container h5 {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;

}